cards.css
.nosotros:hover {
    box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.273) !important;
    transition: all 0.7s linear;
  }
  
  .nosotros-body {
    padding: 2rem 0 !important;
  }
  
  .nosotros-text {
    padding: 0.3rem 1rem;
    font-size: 1rem;
  }
  
  .overflow {
    overflow: hidden;
  }
  
  .nosotros-img-top {
    transform: scale(1);
    transition: all 0.2s ease-in-out;
  }
  
  .nosotros-img-top:hover {
    transform: scale(1.8);
  }


  .nosotros {
    text-align: center;
    margin: 20px;
  }
  
  .nosotros-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }