.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 5vmin);
  color: rgb(73, 113, 244);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#container{
  position: fixed;
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #82dff8;
  width: 100%;
  height: 130px;
  align-items: center;
}

#nav img{
  height: 160px;
  width: auto;
  margin-right: 1rem;
  margin-top: 40px;
}

#container .me-auto #lista{
  text-decoration: none;
  margin: 0 1.5rem;
  color: aliceblue;
}
#container .me-auto #lista:hover{
  color: green;
}


.nav{
  text-decoration: none;
}

section {
  position: fixed;
  padding: 0px;
  margin: 0px;
  color: white;
  text-shadow: 4px 4px rgba(56, 70, 73, 0.5);
  height: 100%;  

}  


.me-auto {
  font-size: 35px;
  text-decoration: none;
  justify-content: space-between;
  margin-right: 100px;
  list-style: none;
}


