.App{
  height: auto;
  
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 5vmin);
  color: rgb(73, 113, 244);
  position: fixed;
}


/* Css barra de navegación */

#container{
  text-decoration: none;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: transparent;
  width: 100%;
  height: 130px;
  align-items: center;
}

#nav img{
  height: 160px;
  width: auto;
  margin-right: 1rem;
  margin-top: 40px;
}

#nav img:hover{
  border-radius:50%;
-webkit-border-radius:50%;
box-shadow: 0px 0px 15px 15px #ec731e;
-webkit-box-shadow: 0px 0px 15px 15px #ec731e;
-webkit-transform: rotate(300deg); transform: rotate(300deg);
}


#container .me-auto #lista{
  text-decoration: none;
  margin: 0;
  color: aliceblue;
  margin-left: 100px;
  padding-bottom: 10px;
}

#lista > span {
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
}

#lista{
  border-top:  rgba(15, 11, 246, 0.826) 0.3rem solid;
  padding: 0px;
  margin: 0 1rem;
}
 

#lista:hover > span {
  background-color: rgba(20, 20, 200, 0.804);
  transition: background-color 2s, color 2s;  
  color: white; 
  height: 100%;
}


.nav{
  text-decoration: none;
}

section {
  padding: 0px;
  margin: 0px;
  color: white;
  text-shadow: 4px 4px rgba(56, 70, 73, 0.5);
  height: 100%;  
}  


.me-auto {
  font-size: 35px;
  text-decoration: none;
  justify-content: space-between;
  list-style: none;
}

/* Css tarjeta Nosotras */

.card-img-top{
  height: 250px;
  width: auto;
  margin-top: 15px;
}

.col-md-4{
  margin-top: 30px;
  margin-bottom: 35px;
  width: 500px;
}

.row{
  margin-top: 70px;
  margin-bottom: 200px;
  justify-content: center;
 
}

.card-imag-top-image7{
  margin-top: 30px;
  margin-bottom: 200px;
  width: 300px;
    -webkit-transition: 1s linear;
    transition: 1s linear;
    background-color: black;
  }

  .overflow{
    -webkit-transition: 1s linear;
    transition: 1s linear;
    background-color: black;
  }

  .overflow:hover{
    padding: 30px;
  }

.div-centralizada {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
.div-justificada {
  display: flex;
  text-align:justify;
  background-color: rgba(73, 83, 105, 0.541);
  color: white;
  padding: 10px;
}



/* Css página ppal */

#nav {
  display: flex;
  font-size: 30px;
  color: rgb(201, 138, 22);
  justify-content: space-between;
  padding: 0 0.5rem;
  align-items: center;
  width: 100%;
}

#nav #lista1{
  margin-top: 30px;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: 'Satisfy', cursive;
  
}

#nav #lista1:hover{
  color: blue;
}

#principal-title{
  text-align: center;
  margin-top: 10px;
}

#luna{

  margin-top: 30px;
}

#luna img{
  align-items: center;
  margin-left: 750px;
}

#luna #punto{
  font-size: 30px;
  margin-left: 865px;
  padding-left: 80px;
  padding-right: 80px;
  padding: 20px;
  background-color:  rgba(220, 223, 227, 0.781);
  text-decoration-line: none;
  
 
}
#principal-text{
  font-size: 25px;
  text-align: justify;
  justify-content: center;
  margin: 20px;
  background-color: rgba(73, 83, 105, 0.541);
  margin-left: 150px;
  margin-right: 150px;
  
}
 
/* responsive */

@media screen and (min-width: 790px) and (max-width: 1280px) {

  .div-justificada{
    width: 70%;
  }

  #principal-text{
    width: 70%;
    padding-left: 40px;
    padding: 10px;
    margin-left: 80px;   
}

#luna img{
  margin-left: 140px;
}

#luna #punto{
  margin-left: 300px;
}
}

@media screen and (min-width: 425px) and (max-width: 786px) {

  #container .me-auto #lista{
    font-size: 20px;
  }

  .row{
    margin-top: 100px;
  }

  .div-justificada{
    width: 60%;
  }

  #nav #lista1{
    margin-top: 20px;
  }

  #principal-text{
    width: 70%;
    padding-left: 40px;
    padding: 10px;
    margin-left: 80px;   
}

#luna img{
  margin-left: 40px;
}

#luna #punto{
  margin-left: 300px;
}

}

@media screen and (min-width: 320px) and (max-width: 420px) {

  #container .me-auto #lista{
    font-size: 15px;
  }

  .row{
    margin-top: 120px;
  }

  .div-justificada{
    width: 60%;
  }

  #nav #lista1{
    margin-top: 15px;
  }

  #principal-title{
    margin-top: 50px;
  }

  #principal-text{
    width: 70%;
    padding-left: 10px;
    padding: 10px;
    margin-left: 10px;  
    font-size: 15px; 
}

#luna img{
  margin-left: 10px;
  width: 200px;
}

#luna #punto{
  margin-left: 100px;
}

}

#luna{
  height: 1800px;
}



