/* Css del body de la página */

body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-image:url(../img/arenitaPlayita.jpg);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    height: 85vh;
    width: auto;
    position: relative; 
    background-position: inherit;
  }

  :root{
    background-color: black;
  }

  /* Css página inicio */

#Contenedor{
  background-color: transparent;
  position: absolute;
  transform: translate(0%, 0%);
  margin-top: 0px;
  height: 365px;
  width: 300px;
  border: 2px solid black;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 10px 10px 15px black;
  margin-left: 800px;

  
}  

#box{
  text-shadow: 3px 3px 3px black;

}

#Titulo:hover{
    color: springgreen;
  } 
  

#city{
  color:rgb(45, 18, 248);
  background-color: aliceblue;
  border-radius: 5%;
}  

#city:hover{
  color: blue;
}

#boton:hover{
  color: springgreen;

}

#ciudad:hover{
  color: springgreen;
}

#imagen:hover{
  animation-name: surprise;
      -webkit-animation-name: surprise;
      -moz-animation-name: surprise;
  animation-duration: .8s;
      -webkit-animation-duration: .8s;
      -moz-animation-duration: .8s;
}

  @keyframes surprise
  {
      0% {transform: rotate(0deg) scale(1,1);;}
      10% {transform: rotate(7deg) scale(2,2);}
      20% {transform: rotate(-7deg) scale(2,2);}
      30% {transform: rotate(7deg) scale(2,2);}
      40% {transform: rotate(-7deg) scale(2,2);}
      50% {transform: rotate(7deg) scale(2,2);}
      60% {transform: rotate(-7deg) scale(2,2);}
      70% {transform: rotate(7deg) scale(2,2);}
      80% {transform: rotate(-7deg) scale(2,2);}
      90% {transform: rotate(7deg) scale(2,2);}
      100% {transform: rotate(0deg) scale(1,1);}
  }

#temperatura:hover{
  color: springgreen;
}

#condicion:hover{
  color: springgreen;
}

#sensacion:hover{
  color: springgreen;
}

#humedad:hover{
  color: springgreen;
}

#sello:hover{
  color: springgreen;
}


/* css footer */

footer {
  position: fixed;
  bottom: 0;
  padding: 1px;
  padding-top: 10px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-color: black;
  width: 100%;
  height: 15vh; 
}

#container2{
      display: flex;
      margin-left: 3rem;
      cursor: pointer;
  }
  
  #container2 button{
      width: 2px;
      margin-left: 1rem;
      margin-right: 3rem;
      height: 35px;
      padding-right: 3rem;
      margin-top: 15px;
      background-color: black;
  }

  #titulo-footer{
    margin-left: 2rem;
    font-family: 'Shantell Sans', cursive;
    margin-top: 10px;

  }

  #derechos{
    font-size: 11px;
    margin-left: 2rem;
  }
 
/* css página contacto */


.contact-form h2:hover{
  color: springgreen;
}

.contact-form:hover{
  color: springgreen;
}

.contact-form button:hover{
  color: springgreen;
}

/* responsive */

@media screen and (min-width: 790px) and (max-width: 1280px) {

  :root{
    background-image: none;
    background-color: black;
  }
 
  #Contenedor{
    margin-left: 400px;
    margin-top: 1px;
    height: 365px;
  }

  .contact-form{
    width: 500px;
    margin-left: 10px;
  }

  #titulo-footer{
    margin-top: 1px;
  }
  

  #list-footer h6{
    max-width: 90%;
    align-items: center;
    justify-content: center;
    font-size: 15px;
  }

  #container2 button img{
    height: 30px;
    width: 30px;
  }  
}

  @media screen and (min-width: 425px) and (max-width: 786px) {

    body{
      background-size: 100% 100%;
    }

    #Contenedor{
      margin-left: 80px;
      margin-top: 20px;
      height: 300px;
    }

    .contact-form{
      width: 500px;
      margin-left: 10px;
    }
    
    #titulo-footer{
      padding-top: 1px;
      align-items: center;
  }

    #list-footer h6{
      max-width: 90%;
      align-items: center;
      justify-content: center;
      font-size: 10px;
    }

    #container2 button img{
      height: 20px;
      width: 20px;
    }  
  }

  @media screen and (min-width: 320px) and (max-width: 420px) {
    
    body{
      background-size: 100% 100%;
    }

    #Contenedor{
      margin-left: 10px;
      margin-top: 50px;
      height: 365px;
    }

    .contact-form{
      width: 500px;
      margin-left: 10px;
      padding-left: 10px;
      margin: 10px;
    }

    #titulo-footer{
      font-size: 15px;
      align-items: center;
    justify-content: center;

  } 

  #list-footer h6{
    justify-content: space-between;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 10px;
  }

  #container2 button img{
    height: 15px;
    width: 15px;
  }  

}





