/* Css del body de la página */

body {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    background-image:url(../public/img/estrellas.gif);
    background-size: 100% cover;
    background-repeat: repeat;
    height: 115vh;
    width: auto;
    position: relative; 
    background-position: inherit;
  }

  :root{
    background-image: url(../public/img/estrellas.gif);
    background-size: 100% cover;
    background-repeat: repeat;
    background-color: black;
  }

  /* Css página inicio */

#Contenedor{
  background-image: url(../public/img/arenitaPlayita.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  transform: translate(0%, 0%);
  margin-top: 100px;
  height: 500px;
  width: 300px;
  border: 2px solid black;
  border-radius: 10px 10px 10px 10px;
  box-shadow: 10px 10px 15px black;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 700px;
  margin-right: center;
  padding-top: 10px;


  
}  

#box{
  text-shadow: 3px 3px 3px black;

}

#Titulo:hover{
    color: springgreen;
  } 
  

#city{
  color:rgb(45, 18, 248);
  background-color: aliceblue;
  border-radius: 5%;
}  

#city:hover{
  color: blue;
}

#boton:hover{
  color: springgreen;

}

#ciudad:hover{
  color: springgreen;
}

#imagen:hover{
  animation-name: surprise;
      -webkit-animation-name: surprise;
      -moz-animation-name: surprise;
  animation-duration: .8s;
      -webkit-animation-duration: .8s;
      -moz-animation-duration: .8s;
}

  @keyframes surprise
  {
      0% {transform: rotate(0deg) scale(1,1);;}
      10% {transform: rotate(7deg) scale(2,2);}
      20% {transform: rotate(-7deg) scale(2,2);}
      30% {transform: rotate(7deg) scale(2,2);}
      40% {transform: rotate(-7deg) scale(2,2);}
      50% {transform: rotate(7deg) scale(2,2);}
      60% {transform: rotate(-7deg) scale(2,2);}
      70% {transform: rotate(7deg) scale(2,2);}
      80% {transform: rotate(-7deg) scale(2,2);}
      90% {transform: rotate(7deg) scale(2,2);}
      100% {transform: rotate(0deg) scale(1,1);}
  }

#temperatura:hover{
  color: springgreen;
}

#condicion:hover{
  color: springgreen;
}

#sensacion:hover{
  color: springgreen;
}

#humedad:hover{
  color: springgreen;
}

#sello:hover{
  color: springgreen;
}


/* css footer */

footer {
  position: fixed;
  bottom: 0;
  padding-top: 10px;
  color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-color: black;
  width: 100%;
  height: 15vh; 
}

#container2{
      display: flex;
      margin-left: 3rem;
      cursor: pointer;
  }
  
  #container2 button{
      width: 5px;
      margin-left: 1rem;
      margin-right: 3rem;
      height: 50px;
      padding-right: 3rem;
      margin-top: 15px;
      background-color: black;
  }

  #titulo-footer{
    margin-left: 2rem;
    font-family: 'Shantell Sans', cursive;
  }

  #derechos{
    font-size: 15px;
    margin-left: 2rem;
  }

 
/* css página contacto */

.contact-form{
  background-image: url(../public/img/arenitaPlayita.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


.contact-form h2:hover{
  color: springgreen;
}

.contact-form:hover{
  color: springgreen;
}

.contact-form button:hover{
  color: springgreen;
}

/* responsive */

@media screen and (min-width: 790px) and (max-width: 1280px) {

  #Contenedor{
    margin-left: 400px;
    margin-top: 80px;
    height: 500px;
  }

  .contact-form{
    width: 300px;
    margin-left: 50px;
    margin: 50px;
    margin-top: 10px;
    height: 300px;
  }

  form h3{
    font-size: 25px;
  }

  form h4{
    font-size: 20px;
  }

  form input{
    height: 20px;
  }

  form textarea{
    height: 40px;
  }

  #titulo-footer{
    margin-top: 1px;
  }
  

  #list-footer h4{
    max-width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 12px;
  }

  #container2 button img{
    height: 30px;
    width: 30px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }  
}

  @media screen and (min-width: 425px) and (max-width: 786px) {

    #Contenedor{
      margin-left: 80px;
      margin-top: 100px;
      height: 450px;
    }

    .contact-form{
      width: 300px;
      margin-left: 50px;
      margin: 50px;
    }
    
    form h3{
      font-size: 25px;
    }
  
    form h4{
      font-size: 20px;
    }
  
    form input{
      height: 20px;
    }
  
    form textarea{
      height: 40px;
    }

    #titulo-footer{
      padding-top: 1px;
      align-items: center;
      font-size: 10px;
  }

    #list-footer h4{
      max-width: 100%;
      align-items: center;
      justify-content: center;
      font-size: 8px;
    }

    #derechos{
      font-size: 10px;
    }

    #container2 button{
      display: flex;
      flex-direction: row;
      height: 15px;
      width: 15px;
      text-align: center;
      align-items: center;
      justify-content: center;
    }  

    #container2 button img{
      height: 15px;
      width: 15px;
      text-align: center;
      align-items: center;
      justify-content: center;
    }  
  }

  @media screen and (min-width: 200px) and (max-width: 420px) {
    
    #Contenedor{
      margin-left: 50px;
      margin-top: 120px;
      height: 500px;
    }

    .contact-form{
      width: 300px;
      margin-left: 5px;
      padding-left: 5px;
      margin: 5px;
    }

    form h3{
      font-size: 25px;
    }
  
    form h4{
      font-size: 20px;
    }
  
    form input{
      height: 20px;
    }
  
    form textarea{
      height: 40px;
    }

    #titulo-footer{
      padding-top: 1px;
      align-items: center;
      font-size: 10px;

  } 

  #list-footer h4{
    max-width: 100%;
    align-items: center;
    justify-content: center;
    font-size: 8px;
  }

  #derechos{
    font-size: 10px;
  }

  #container2 button{
    display: flex;
    flex-direction: row;
    height: 10px;
    width: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
  } 
  
  #container2 button img{
    height: 10px;
    width: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
  }  

}





